In [ ]:
sales = [100,200,300,452,900]
#print(f" Sales this week is :{sales}")
#print(f" sales at day 3 is {sales[:-1]}")
#print("Sales at day 4 is :",sales[4])
sales.append(300)
sales.insert(3,500)
print(sales)
average = sum(sales)/len(sales)
print("Average sales is :",average)
sales.sort()
print(sales)
sales.reverse()
print(sales)

[100, 200, 300, 500, 452, 900, 300]
Average sales is : 393.14285714285717
[100, 200, 300, 300, 452, 500, 900]
[900, 500, 452, 300, 300, 200, 100]

In [ ]:
Numbers = [15, 22, 7, 10, 33, 2, 19, 50, 8]
even_numbers = []
for i in Numbers:
    if i % 2 == 0:
        even_numbers.append(i)

even_numbers.sort()
print(" Sorted Even Numbers is",even_numbers)

 Sorted Even Numbers is [2, 8, 10, 22, 50]

In [ ]:
rating = [5,4,3,5,2,4,5,3,1,4]
rating_avg = sum(rating)/len(rating)
len(rating)

five_star = 0
for i in rating:
  if i==5:
    five_star+=1

below_avg = 0
for i in rating:
  if i < rating_avg:
    below_avg+=1


print("Average rating is :",rating_avg)
print("Number of users given 5-star",five_star)
print("Days of below average rating",below_avg)
rating.sort(reverse=True)
print(rating)

Average rating is : 3.6
Number of users given 5-star 3
Days of below average rating 4
[5, 5, 5, 4, 4, 4, 3, 3, 2, 1]

In [ ]:
person = ("Alice",25,"Data Scientist")
#print("Full tuple",person)
print("Name :",person[0])
print("Age :",person[1])
print("Profession :",person[2])
print("First two tuples is :",person[:2])

Name : Alice
Age : 25
Profession : Data Scientist
First two tuples is : ('Alice', 25)

In [ ]:
locations =[(12.9716,77.5946),(28.7041,77.1025),(19.076,72.8777)]
for latitude,longitude in locations:
  print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 12.9716, Longitude: 77.5946
Latitude: 28.7041, Longitude: 77.1025
Latitude: 19.076, Longitude: 72.8777

In [ ]:
locations =[(12.9716,77.5946),(28.7041,77.1025),(19.076,72.8777)]
first_latitude,first_longitude = locations[0]
#print(f"first Latitude: {latitude}, First Longitude: {longitude}")
total_locations = len(locations)
print(f"Total Locations: {total_locations}")

Total Locations: 3

In [ ]:
Screen_res = (1920, 1080)
print("Screen Resolution is :",Screen_res)

Screen Resolution is : (1920, 1080)

In [ ]:
sensor_data = [("Sensor_A", "Field_1", "Temperature", "Celsius"), ("Sensor_B", "Field_2", "Humidity", "%"),

    ("Sensor_C", "Field_3", "Soil Moisture", "%"),("Sensor_D", "Field_4", "Temperature", "Celsius"),  ("Sensor_E", "Field_5", "Humidity", "%")

]
count = 0
for s,f,p,u in sensor_data:
  if p=="Temperature":
    count+=1


for s,f,p,u in sensor_data:
  if sensor_data[p]=="Humitidy":
     print(sensor_data[p])

TypeError: list indices must be integers or slices, not str

In [ ]:
inventory = ["Apples", "Bananas", "Carrots", "Dates"]

print(inventory)

inventory.append("Eggs")

inventory.remove("Bananas")

inventory.sort()

print(inventory)

['Apples', 'Bananas', 'Carrots', 'Dates']
['Apples', 'Carrots', 'Dates', 'Eggs']

In [ ]:
temperatures = [22, 24, 25, 28, 30, 29, 27, 26, 24, 22]

print("First reading:", temperatures[0])
print("Last reading:", temperatures[-1])

afternoon_peak = temperatures[3:6]
last_three_hours = temperatures[-3:]

print("Afternoon Peak readings:", afternoon_peak)
print("Last 3 Hours readings:", last_three_hours)

First reading: 22
Last reading: 22
Afternoon Peak readings: [28, 30, 29]
Last 3 Hours readings: [26, 24, 22]

In [ ]:
screen_res = (1920, 1080)

print(f"Current Resolution: {screen_res[0]}x{screen_res[1]}")

print("Tuples cannot be modified!")

Current Resolution: 1920x1080
Tuples cannot be modified!

In [ ]:
temperatures = [22, 24, 25, 28, 30, 29, 27, 26, 24, 22]
print(f"First Reading : {temperatures[0]} Last Reading : {temperatures[-1]}")
print(f" Peak afternoon readings : {temperatures[3:6]}")
print(f" Last 3 hours readings : {temperatures[-3:]}")

First Reading : 22 Last Reading : 22
 Peak afternoon readings : [28, 30, 29]
 Last 3 hours readings : [26, 24, 22]

In [ ]:
sensor_data = [
    ("Sensor_A", "Field_1", "Temperature", "Celsius"),
    ("Sensor_B", "Field_2", "Humidity", "%"),
    ("Sensor_C", "Field_3", "Soil Moisture", "%"),
    ("Sensor_D", "Field_4", "Temperature", "Celsius"),
    ("Sensor_E", "Field_5", "Humidity", "%")
]
temp_count = 0
for sensor in sensor_data:
  if sensor[2] == "Temperature":
    temp_count+=1
print(f"No of sensors reading temperature is {temp_count}")
for sensor in sensor_data:
  if "Humidity" in sensor:
    humidity_index = sensor.index("Humidity")
    break
print(f"Humidity sensor index is {humidity_index}")

No of sensors reading temperature is 2
Humidity sensor index is 2

In [ ]:
for index,sensor in enumerate(sensor_data):
  print(index,sensor)

0 ('Sensor_A', 'Field_1', 'Temperature', 'Celsius')
1 ('Sensor_B', 'Field_2', 'Humidity', '%')
2 ('Sensor_C', 'Field_3', 'Soil Moisture', '%')
3 ('Sensor_D', 'Field_4', 'Temperature', 'Celsius')
4 ('Sensor_E', 'Field_5', 'Humidity', '%')

No of fields in each tuple

In [ ]:
No_of_fields = []
for sensor in sensor_data:
  No_of_fields.append(len(sensor))
print(No_of_fields)

[4, 4, 4, 4, 4]

unpacking to readable form

In [ ]:
for sensor,field,parameter,unit in sensor_data:
  print(f"The Sensor {sensor} in field {field} senses {parameter} in {unit}")

The Sensor Sensor_A in field Field_1 senses Temperature in Celsius
The Sensor Sensor_B in field Field_2 senses Humidity in %
The Sensor Sensor_C in field Field_3 senses Soil Moisture in %
The Sensor Sensor_D in field Field_4 senses Temperature in Celsius
The Sensor Sensor_E in field Field_5 senses Humidity in %

dictonaries

In [ ]:
person = {
    "Name":"hemanth",
    "Balance": 17700,
    "Bank" : "State Bank Of India"

}
person["Grade"]="A+"
person["Balance"]=54000
#person.pop("Balance")
#del person["Bank"]
#erson.clear()
for key,value in person.items():
  print(key,value)


#print(person)

Name hemanth
Balance 54000
Bank State Bank Of India
Grade A+

In [ ]:
p={
    "name":"N-boss",
    "age":21,
    "city":"Doddaballapura"
}
p["age"]=22
del p["city"]
print(p)

{'name': 'N-boss', 'age': 22}

In [ ]:
data = {"A":10,"B":20,"C":30}
count = 0
for key in data:
  count+=1
print(count)

3

In [ ]:
emp = {"name":"John","role":"Dev"}
print(emp.get("salary"))

None

In [ ]:
student = {"name":"Rahul","marks":85}
student["Grade"]="A"
#print(student.get("marks"))
print(student)

{'name': 'Rahul', 'marks': 85, 'Grade': 'A'}

In [ ]:
marks = {"Math":80,"Science":70,"English":60}
for k,v in marks.items():
  if v<70:
    print(k,v)

English 60

In [ ]:
words = ["cat","dog","cat","bird","dog","cat"]
frequency = {}
for k in words:
  if k in frequency:
    frequency[k] +=1
  else:
    frequency[k]=1
print(frequency)

{'cat': 3, 'dog': 2, 'bird': 1}

In [ ]:
contacts = {
    "hemaths":6362322663,
    "Nithin":7589423651,
    "Amith":739007463,
}
contacts["Manoj"]=6365578545
contacts["hemaths"]=420420420420
#print(contacts)
print(contacts.get("hemaths"))
print(contacts.get("Govind","Contact not found"))
for k,v in contacts.items():
  print(f"Contact : {k} | Phone : {v}")

420420420420
Contact not found
Contact : hemaths | Phone : 420420420420
Contact : Nithin | Phone : 7589423651
Contact : Amith | Phone : 739007463
Contact : Manoj | Phone : 6365578545

In [ ]:
Id = ["ID01", "ID02", "ID01", "ID05", "ID02", "ID08", "ID01"]

In [ ]:
f = {
    "Hemanth":{"Dest":"Hell","Food":"kabab"},
    "Nithin" :{"Dest":"jogihalli","Food":"gobirice"},
    "Amith":{"Dest":"Kedarnath","Food":"Biryani"}
}
for name, details in f.items():
    print(name)
    print("Favorite destination:", details["Dest"])
    print("Favorite food:", details["Food"])
    print()

Hemanth
Favorite destination: Hell
Favorite food: kabab

Nithin
Favorite destination: jogihalli
Favorite food: gobirice

Amith
Favorite destination: Kedarnath
Favorite food: Biryani

In [ ]:
print(f["Nithin"]["Food"])

gobirice

In [ ]:
first_set = {1,2,3,4,5}
print(first_set)

print(s1)
empty_set = set()
print(type(empty_set))

{1, 2, 3, 4, 5}
()
<class 'set'>

In [ ]:
set1 ={1,2,3,4,5}
set2 = {4,5,6,7,8}
union_set = set1 | set2
print(union_set)
intersection_set = set1 & set2
print(intersection_set)
diffrence_set = set1 - set2
print(diffrence_set)
#symmetric diff
sym_diff = set1 ^ set2
print(sym_diff)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [ ]:
temperatures = [22, 24, 25, 28, 30, 29, 27, 26, 24, 22]

print("First Reading:", temperatures[0])
print("Last Reading:", temperatures[-1])

afternoon_peak = temperatures[3:6]
print("Afternoon Peak:", afternoon_peak)

last_3_hours = temperatures[-3:]
print("Last 3 Hours:", last_3_hours)

First Reading: 22
Last Reading: 22
Afternoon Peak: [28, 30, 29]
Last 3 Hours: [26, 24, 22]

In [ ]:
raw_logs = ["ID01", "ID02", "ID01", "ID05", "ID02", "ID08", "ID01"]

unique_users = set(raw_logs)

print("Unique Users:", unique_users)
print("Is ID05 in unique_users?", "ID05" in unique_users)
print("Original Count:", len(raw_logs))
print("Unique Count:", len(unique_users))

Unique Users: {'ID05', 'ID08', 'ID02', 'ID01'}
Is ID05 in unique_users? True
Original Count: 7
Unique Count: 4

In [ ]:
friend_a = {"Python", "Cooking", "Hiking", "Movies"}
friend_b = {"Hiking", "Gaming", "Photography", "Python"}

shared_interests = friend_a & friend_b
all_interests = friend_a | friend_b
unique_to_a = friend_a - friend_b

print("Shared Interests:", shared_interests)
print("All Interests:", all_interests)
print("Unique to Friend A:", unique_to_a)

Shared Interests: {'Hiking', 'Python'}
All Interests: {'Movies', 'Cooking', 'Gaming', 'Hiking', 'Photography', 'Python'}
Unique to Friend A: {'Movies', 'Cooking'}

In [ ]:
s = {2,2,3,5,4,6,7,7,5,5,2,2,4,2,3,3}

s.update([11,56,33,8,3])
s.add(23)
#s.remove(1)
s.discard(9)
s.pop()
s.clear()
print(s)

set()